body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.vh-100 {
  height: 100vh;
}

.xadrez {
  background-color: #228b22; /* Verde floresta */
  background-image: linear-gradient(
      45deg,
      #000000 25%,
      transparent 25%,
      transparent 75%,
      #000000 75%,
      #000000
    ),
    linear-gradient(
      45deg,
      #000000 25%,
      transparent 25%,
      transparent 75%,
      #000000 75%,
      #000000
    );
  background-size: 160px 160px;
  background-position: 0 0, 80px 80px;
}

.bg-success {
  background-color: #228b22 !important; /* Verde floresta */
}

.bg-danger {
  background-color: #8b0000 !important; /* Rubro escuro */
}

section {
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label,
input,
textarea {
  margin-bottom: 10px;
  color: white;
}

input,
textarea {
  background-color: #2c2c2c;
  color: white;
  border: 1px solid white;
}

button {
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #444444;
}
